<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676175984214-g78ef0s1dvtgktku0l4h6q4v6gssrndt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676175984214-g78ef0s1dvtgktku0l4h6q4v6gssrndt</string>
	<key>API_KEY</key>
	<string>AIzaSyC7jmm_3vBMYC-OWNglb9oVlnEtcMhegdo</string>
	<key>GCM_SENDER_ID</key>
	<string>676175984214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSampleInstagram</string>
	<key>PROJECT_ID</key>
	<string>flutter-sample-instagram</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sample-instagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676175984214:ios:9eb22e0895e57746aeadf7</string>
</dict>
</plist>